<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= restaurant.name %></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1><%= restaurant.name %> Home Page</h1>
    <% if (restaurant.isOpen) { %>
        <h2>Yes we are open!</h2>
    <% } else { %>
        <h2>Sorry, we are closed.</h2>
    <% } %>
     </h2>
    <p>The <%= restaurant.name %> is located at <%= restaurant.address%> and can be reached at <%=restaurant.phone%></p>
</body>
</html>